<?xml version='1.0' encoding='utf-8'?>
<widget id="com.richards19.heatingcontrol" version="0.0.1" xmlns="http://www.w3.org/ns/widgets">
    <name>Heating</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="paul@richards19.com" href="http://cordova.io">
        Richards 19
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <hook type="after_prepare" src="hooks/icons.js" />

    <preference name="StatusBarBackgroundColor" value="#f96900" />

    <platform name="android">
            <allow-intent href="market:*" />

            <icon src="www/img/144.png" density="ldpi" />
            <icon src="www/img/144.png" density="mdpi" />
            <icon src="www/img/144.png" density="hdpi" />
            <icon src="www/img/192.png" density="xhdpi" />
            <icon src="www/img/192.png" density="xxhdpi" />
    </platform>

    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
