<div class="col-xs-6 modes">

    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary">
            <input type="radio" name="options" class="auto" autocomplete="off"> Auto
        </label>
        <label class="btn btn-primary">
            <input type="radio" name="options" class="off" autocomplete="off"> Manual
        </label>
    </div>

</div>


<div class="col-xs-6">

    <button data-heat="on" type="button" class="<%- (data.today.heat.heating_status == 1 ? '':'hidden') %> btn btn-lg btn-block changeHeating heaton">Heating ON</button>

    <button data-heat="off" type="button" class="<%- (data.today.heat.heating_status == 0 ? '':'hidden') %> btn btn-lg btn-block changeHeating">Heating OFF</button>

</div>